.meal-container {
  text-align: center;
  border: 1px solid rgb(255, 214, 109);
  background-color: rgb(245, 222, 226);
  padding: 1rem;
  border-radius: 5%;
}

.meal-container img {
  width: 20rem;
}
